@use "bootstrap/scss/bootstrap";


$yugioh-primary: #d48f38;
$yugioh-light-primary: #ffffff;


main {
    background-color: $yugioh-primary;
}

.cards-container {
    background-color: $yugioh-light-primary;
    height: 500px;
}